name: java-app CI/CD

on:
  pull_request: 
    branches:
      - main
      - dev
      

  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read


env:
  ARTIFACTORY_URL: ${{ secrets.ARTIFACT_URL }}
  SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  ECR_ROLE: ${{ secrets.ECR_ACCESS_ROLE }}
  AWS_REGION: ${{ secrets.AWS_REGION }}
  VAULT_URL: ${{ secrets.VAULT_URL }}  
  VAULT_TOKEN: ${{ secrets.VAULT_TOKEN }}   
  JFROG_REPO_NAME: utc-app


jobs:


  sonar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'maven'

      - name: Cache Maven package
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build with Maven
        run: mvn -B clean verify
      
      - name: Cache SonarQube package
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: SonarQube Scan
        env:
          #GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ env.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ env.SONAR_HOST_URL }}
        #run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=geo_app -Dsonar.qualitygate.wait=true
        run:  mvn verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=geo_app -Dsonar.projectName=utc_app 
  build:
    runs-on: ubuntu-latest
    needs: sonar
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'maven'

      - name: Package with Maven
        run: mvn -B clean package

      - name: Upload JAR file
        uses: actions/upload-artifact@v4
        with:
          name: utc_app-jar
          path: target/*.jar          
           

  push_to_jfrog:
   runs-on: ubuntu-latest
   needs: build
   steps:
     - name: Checkout Code
       uses: actions/checkout@v4
       with:
         fetch-depth: 0

     - name: Download JAR file artifact
       uses: actions/download-artifact@v4
       with:
         name: utc_app-jar
         path: target/

     # Load secrets from Vault and set as env variables for rest of job
     - name: Read secrets from Vault
       uses: hashicorp/vault-action@v2
       with:
         url: ${{ secrets.VAULT_URL }}
         method: token
         token: ${{ secrets.VAULT_TOKEN }}
         exportEnv: true
         secrets: |
          secrets/creds/jfrog username | MAVEN_USERNAME_A ;
          secrets/creds/jfrog password | MAVEN_PASSWORD_A

     - name: Deploy to JFrog
       env:
         MAVEN_USERNAME_A: ${{ env.MAVEN_USERNAME_A }}
         MAVEN_PASSWORD_A: ${{ env.MAVEN_PASSWORD_A }}
       run: |
        APP_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
        APP_NAME=$(mvn help:evaluate -Dexpression=project.artifactId -q -DforceStdout)
        APP_LONG_NAME=$APP_NAME-$APP_VERSION.jar

        echo "Found JARs:"
        ls -l target

        echo "Deploying $APP_LONG_NAME"

        curl --fail -u $MAVEN_USERNAME_A:$MAVEN_PASSWORD_A \
        -T target/$APP_LONG_NAME \
        "$ARTIFACTORY_URL/$JFROG_REPO_NAME/$APP_LONG_NAME"

                